<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passion.logincomponent">

    <application>
        <activity android:name=".UpdateAccountActivity"/>
        <activity android:name=".RegiseterAcitivty" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>